@import "variables";

.container {
    padding-right: 18px;
    padding-left: 12px;

    @media (min-width: $breakpoint-desktop) {
        max-width: $breakpoint-desktop;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}