:root {
    --font_size: 18px;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: var(--font_size);
    margin: 0;
    background-color: #FAFAFA;
}


img {
    max-width: 100%;
}