@import "variables";

.footer {
    --padding_top: 56px;
    --padding_bottom: 27px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: var(--padding_top);
    padding-bottom: var(--padding_bottom);

    > small {
        --font_size: 14px;
        font-style: normal;
        font-weight: 600;
        font-size: var(--font_size);
        color: #A9A9A9;
    }


    @media (min-width: $tablet-breakpoint)  {
        --padding_top: 77px;
        --padding_bottom: 30px;
    }
}