.header {
    font-family: "PT Serif", Arial, Helvetica, sans-serif;
    padding-top: 17px;
    padding-bottom: 38px;

    > h1 {
        --font_size: 36px;
        font-weight: 700;
        letter-spacing: -0.72px;
    }
}