.masthead__heading {
    --font_size: 18px;
    font-size: var(--font_size);
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
}

.masthead__description {
    --font_size: 14px;
    font-size: var(--font_size);
    padding-bottom: 38px;
}