.article__section__link {
    position: relative;
    color: #000;
    
    > p {
        font-family: "PT Serif", Arial, Helvetica, sans-serif;
        transform: rotate(90deg);
        position: absolute;
        font-size: 10px;
        top: 8.5%;
        left: 45%;
        margin-left: 50%;
        text-transform: uppercase;
        width: 122px;
        height: 10px;
    }
}