@font-face {
  font-family: "Montserrat SemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/montserrat-600.woff2") format(woff2), url("../fonts/montserrat-600.woff") format(woff); }

@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins-400.woff2") format(woff2), url("../fonts/poppins-400.woff") format(woff); }

@font-face {
  font-family: "Poppins SemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins-600.woff2") format(woff2), url("../fonts/poppins-600.woff") format(woff); }

@font-face {
  font-family: "PT Serif Regular";
  font-weight: 400;
  font-style: normal;
  src: local("PT Serif Regular"), local("PT-Serif-Regular"), url("../fonts/ptserif-400.woff2") format(woff2), url("../fonts/ptserif-400.woff") format(woff); }

@font-face {
  font-family: "PT Serif Bold";
  font-weight: 700;
  font-style: normal;
  src: local("PT Serif Bold"), local("PT-Serif-Bold"), url("../fonts/ptserif-700.woff2") format(woff2), url("../fonts/ptserif-700.woff") format(woff); }

:root {
  --font_size: 18px; }

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: var(--font_size);
  margin: 0;
  background-color: #FAFAFA;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

img {
  max-width: 100%; }

p {
  margin: 0; }

.header {
  font-family: "PT Serif", Arial, Helvetica, sans-serif;
  padding-top: 17px;
  padding-bottom: 38px; }
  .header > h1 {
    --font_size: 36px;
    font-weight: 700;
    letter-spacing: -0.72px; }

.masthead__heading {
  --font_size: 18px;
  font-size: var(--font_size);
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px; }

.masthead__description {
  --font_size: 14px;
  font-size: var(--font_size);
  padding-bottom: 38px; }
